.ttu{
  text-transform: uppercase;
}
.tdu{
  text-decoration: underline;
}
.underline{
  @extend .relative;
  padding-bottom: 30px;
  @include resp-max(sm){
    padding-bottom: 15px;
  }
  &:after{
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: 0;
    width: 70px;
    height: 2px;
    background-color: map-get($colors, "corporative");
  }
}
.subtitle{
  @extend .blacks;
  margin-bottom: 15px;
}
.title{
  &-small{
    margin-bottom: 20px;
    @extend .text-center;
    &.no-m{
      margin-bottom: 0;
    }
  }
}
.h{
  &1,&3{
    @extend .blacks;
  }
  &1{
    line-height: 1.1;
    margin: 0 0 30px;
    
  }
  &2{
    @extend .regular;
    font-weight: 100;
  }
  &4{
    color: #272727;
    &.s-m{
      margin-bottom: 25px;
    }
    &.b-m{
      margin-bottom: 40px;
    }
  }
  &3{
    text-align: center;
    @extend .ttu;
  }
}
@include resp-min(sm){
  .title{
    &-small{
      font-size: 20px;
      &.b-m{
        margin-bottom: 50px;
      }
    }
  }
  .h1{
    font-size: 36px;
  }
  .h2{
    font-size: 18px;
  }
  .h3{
    margin-bottom: 30px;
    &.m-m{
      margin-bottom: 50px;
    }
    &.b-m{
      margin-bottom: 70px;
    }
  }
  .subtitle{
    font-size: 20px;
  }
}
@include resp-min(md){
  .h1{
    font-size: 50px;
  }
  .h2{
    font-size: 20px;
  }
  .h3{
    font-size: 40px;
  }
}
@include resp-max(md){
  .h3{
    font-size: 29px;
  }
}
@include resp-max(sm){
  .subtitle{
    text-align: center;
    margin-bottom: 10px;
  }
  .h{
    &1{
      font-size: 24px;
      margin: 15px 0;
    }
    &2{
      @include size(text_default);
      margin: 15px 0;
    }
    &3{
      @include size(text_title);
      margin-bottom: 15px;
    }
  }
}
@include resp-max(xs){
  .h{
    &3{
      @include size(text_big);
    }
  }
}
.text{
  &-center{
    text-align: center;
  }
  &-left{
    text-align: left;
  }
  &-right{
    text-align: right;
  }
  &-block{
    p{
      margin-bottom: 10px;
      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}
@each $br-name, $br-value in $breakpoints{
  @include resp-max($br-name){
    .max-#{$br-name}-center{
      text-align: center;
    }
  }
  @include resp-min($br-name){
    .min-#{$br-name}-right{
      text-align: right;
    }
  }
}